In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import MetaData, create_engine

In [9]:
engine = create_engine('mysql+pymysql://root:workbench2025@localhost:3306/liocinema')
con = engine.connect()

In [11]:
pricing = {
    "subscription":["Free","Basic","Premium"],
    "price":[0,79,129]
}
subs_priceing = pd.DataFrame(pricing)

In [12]:

subs_priceing.to_sql("pricing", engine, index=False, if_exists='replace')

3

In [4]:
from sqlalchemy import text

In [5]:
con.execute(text('create database liocinema'))

In [24]:
engine = create_engine('mysql+pymysql://root:workbench2025@localhost:3306/liocinema')
con = engine.connect()

In [28]:
from sqlalchemy import inspect

In [29]:
inspect = inspect(con)
inspect.get_table_names()

print(inspect.get_table_names())

[]

In [3]:
from sqlalchemy import Table, Column, Integer, Float, Boolean, String

In [11]:
import pandas as pd

subs = pd.read_csv('subs.csv')

subs.columns

Index(['user_id', 'age_group', 'city_tier', 'subscription_plan',
       'new_subscription_plan', 'did_change_plan', 'upgrade_or_not'],
      dtype='object')

In [13]:
subs.sample()

,user_id,age_group,city_tier,subscription_plan,new_subscription_plan,did_change_plan,upgrade_or_not
4492,UIDLC2e8d4b48c8c,18-24,Tier 2,Basic,Free,1,0

In [56]:
content_consumption = pd.read_csv('content_consumption.csv')
content_consumption.sample()

                user_id device_type  total_watch_time_mins
86020  UIDLC18d18e9729e      Mobile                    305

In [ ]:
meta = MetaData()

liocinema_table = Table("liocinema", meta,
                    Column('user_id', String(50),primary_key=True),
                    Column('age_group', String(20)),
                    Column("city_tier", String(20)),
                    Column("old_subscription_plan",String(20)),
                    Column("new_subscription_plan", String(20)),
                    Column("did_change_plan", Boolean),
                    Column("upgrade_or_not", Boolean)
                    )

content_consumption = Table("cons", meta,
                            Column('user_id', String(50), primary_key=True),
                            Column("device_type", String(20)),
                            Column("total_watch_time_mins", Integer)
                            )

meta.create_all(engine)

In [38]:
from sqlalchemy import inspect

In [39]:
inspector = inspect(engine)
tables_name = inspector.get_table_names()

print(tables_name)

['cons', 'content consumption', 'liocinema']

In [53]:
print(subs.loc[0,:][0])

UIDLC0001086afc3

C:\Users\rgarlay\AppData\Local\Temp\ipykernel_22204\3689471888.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(subs.loc[0,:][0])

In [ ]:
subs.to_sql('subs', engine,index=False,if_exists="replace")

25014

In [58]:
content_consumption.to_sql('cons', engine, index=False, if_exists='replace')

430752

In [57]:
content_consumption.head()

            user_id device_type  total_watch_time_mins
0  UIDLC459c98ee486      Mobile                    502
1  UIDLCe4b2fd90790      Mobile                   2098
2  UIDLCbc8f0a05367      Mobile                    557
3  UIDLC9fc67130445      Mobile                   1720
4  UIDLC7026c3e0374      Mobile                    908