In [1]:
import pandas as pd
import numpy as np

In [ ]:
subs = pd.read_csv("subs.csv")

In [3]:
changed_plan = subs[subs['plan_change_date'].notna()]
changed_plan.loc[:,'did_change_plan'] = 1
changed_plan['upgrade_or_not'] = changed_plan.apply(lambda x: 1 
                                                    if x['subscription_plan'] == 'Free'
                                                    or (x['subscription_plan'] == 'Basic' and x['new_subscription_plan'] == 'Premium')
                                                                         else 0,axis = 1)

C:\Users\rgarlay\AppData\Local\Temp\ipykernel_12000\3046475081.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  changed_plan.loc[:,'did_change_plan'] = 1
C:\Users\rgarlay\AppData\Local\Temp\ipykernel_12000\3046475081.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  changed_plan['upgrade_or_not'] = changed_plan.apply(lambda x: 1

In [4]:
subs_modified = changed_plan.copy()

#### I need to specify whether the user upgraded or downgraded. So that i can later notice how my ML predict is telling whether we got more or less upgrade.

In [5]:
subs_modified.drop(columns = ['subscription_date','last_active_date','plan_change_date'],inplace=True)

In [6]:
subs_modified.head()

,user_id,age_group,city_tier,subscription_plan,new_subscription_plan,did_change_plan,upgrade_or_not
2,UIDLC0001086afc3,35-44,Tier 2,Premium,Free,1,0
4,UIDLC0002189b09f,18-24,Tier 2,Premium,Free,1,0
8,UIDLC00044bbb294,25-34,Tier 2,Free,Basic,1,1
16,UIDLC0007b26e5f0,25-34,Tier 1,Basic,Premium,1,1
18,UIDLC000821d36c9,45+,Tier 1,Premium,Free,1,0

## I am going to use this as my data analysis.

In [7]:
content = pd.read_csv('contents.csv')
consumption = pd.read_csv('content_consumption.csv')

In [8]:
content.head()

       content_id content_type language   genre  run_time
0  CLCMENACT6b77e        Movie  English  Action       120
1  CLCMENACTb7ceb        Movie  English  Action       135
2  CLCMENCOM1563a        Movie  English  Comedy       135
3  CLCMENCOM16d2c        Movie  English  Comedy       135
4  CLCMENCOMa0548        Movie  English  Comedy       135

In [9]:
consumption.head()

            user_id device_type  total_watch_time_mins
0  UIDLC459c98ee486      Mobile                    502
1  UIDLCe4b2fd90790      Mobile                   2098
2  UIDLCbc8f0a05367      Mobile                    557
3  UIDLC9fc67130445      Mobile                   1720
4  UIDLC7026c3e0374      Mobile                    908

### Everything looks great for SQL analysis.

In [10]:
subs_modified.to_csv('subs.csv', index=False, header=True)

In [ ]:
subs = pd.read_csv("subs.csv")
subs.drop(columns=['did_change_plan'], inplace=True)

In [7]:
subs.to_csv('subs.csv', index=False, header=True)